{% extends "base.jinja2" %}
{% block content %}
    <script src="../../static/js/confirm.js"></script>
    <div class="container user_blog_form">
        <h1>
            <span><strong>{{ email }}</strong>'s Blog</span>
        </h1>

        {% for blog in blogs %}
            {% if blog.secret %}
                {% if session['email'] %}

                    <h2><a href="{{ url_for('blogs.posts',blog_id=blog._id) }}">{{ blog.title }}</a>

                    <div class="pull-right">
                        <span><a class="btn btn-warning" href="{{ url_for('blogs.edit_blog',blog_id=blog._id) }}" role="button">Edit</a></span>
                        <span><a class="btn btn-danger" onclick="delete_alert()" href="{{ url_for('blogs.delete_blogs',blog_id=blog._id) }}" role="button">Delete</a></span>
                    </div>

                    </h2>



                    <p>{{ blog.description }}
                    </p>



                    <hr/>

                {% endif %}

            {% else %}
                {% if session['email'] %}

                    <h2><a href="{{ url_for('blogs.posts',blog_id=blog._id) }}">{{ blog.title }}</a>

                    <div class="pull-right">
                        <span><a class="btn btn-warning" href="{{ url_for('blogs.edit_blog',blog_id=blog._id) }}" role="button">Edit</a></span>
                        <span><a class="btn btn-danger" onclick="delete_alert()" href="{{ url_for('blogs.delete_blogs',blog_id=blog._id) }}" role="button">Delete</a></span>
                    </div>

                    </h2>
                    <p>{{ blog.description }}
                    </p>
                    <hr/>

                {% endif %}
            {% endif %}

        {% endfor %}

    </div>

{% endblock %}