{% extends "base.jinja2" %}
{% block content %}
    <div class="container user_blog_form">
        <h1>
            <span><strong>{{ email }}</strong>'s Blog</span>
            {% if session['email'] %}
                <div class="pull-right">
                    <span><a class="btn btn-primary" href="{{ url_for('blogs.new_blog') }}" role="button">New</a></span>
                    <span><a class="btn btn-warning" href="{{ url_for('blogs.edit_blogs') }}" role="button">Edit</a></span>
                </div>
            {% endif %}
        </h1>

        {% for blog in blogs %}
            {% if blog.secret %}
                {% if session['email'] %}

                    <h2><a href="{{ url_for('blogs.posts',blog_id=blog._id) }}">{{ blog.title }}</a> </h2>
                    <p>{{ blog.description }}</p>
                    <hr/>

                {% endif %}

            {% else %}
                <h2><a href="{{ url_for('blogs.posts',blog_id=blog._id) }}">{{ blog.title }}</a></h2>
                <p>{{ blog.description }}</p>
                <hr/>
            {% endif %}

        {% endfor %}

    </div>

{% endblock %}