body {
    background: url("../img/header.jpg");
    background-size: auto;
    overflow: hidden;
}

html, body{
    height: 100%;

}

.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.info{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-75%);


}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.info h1{
    font-size: 6rem;
    color: white;
}

.text-orange{
    color: #F05F40;
}

hr {
max-width: 50px;
    border: 1px solid ;
    border-color: #F05F40;
    border-width: 2px;

    margin-left: 0;


}

.info p{
    margin-top: 0px;
    color: white;
    font-weight:300;
    font-size:1.5rem
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

