{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>Alert <small>for '{{ alert.item.name }}'</small></h1>
    </div>
    <p>Last price found <b>{{ alert.item.price }}</b></p>
    <p>Last checked on <strong>{{ alert.last_checked.strftime("%m-%d-%Y at %H:%M") }}</strong></p>
    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-default" role="button" href="{{ alert.item.url }}">Visit Site</a>
            <a class="btn btn-warning" href="{{ url_for('alerts.check_alert_price',alert_id=alert._id) }}" role="button">Check Alert Price</a>
            <a class="btn btn-primary" href="{{ url_for('alerts.edit_alert',alert_id=alert._id) }}" role="button">Edit Alert</a>
            {% if alert.active %}
                <a class="btn btn-danger" href="{{ url_for('alerts.deactivate_alert',alert_id=alert._id) }}" role="button">Deactivate</a>
            {% else %}
                <a class="btn btn-success" href="{{ url_for('alerts.activate_alert',alert_id=alert._id) }}" role="button">Activate</a>
                <a class="btn btn-danger" href="{{ url_for('alerts.delete_alert',alert_id=alert._id) }}" role="button">Delete</a>
            {% endif %}
        </div>

    </div>
{% endblock %}