{% extends "base.jinja2" %}
{% block content %}

    <form method="post" action="{{ url_for('profiles.update_username') }}">
        <div class="first-form-profile">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">User Name</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="user_name" id="user_name" value="{{ user_name }}"  placeholder="User Name">
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary">Change</button>
                </div>
            </div>
        </div>
    </form>
    <form method="post" action="{{ url_for('profiles.index') }}">
        <div class="second-form-profile">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email Address</label>
                <div class="col-sm-6">
                    <p class="form-control-plaintext form-email-font-size">{{ session['email'] }}</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Binding Account</label>
                {% if bindings|length ==0 %}
                    <div class="col-sm-6">
                        <p class="form-control-plaintext form-email-font-size">None</p>
                    </div>
                {% else %}
                    <div class="col-sm-6">
                        <p class="form-control-plaintext form-email-font-size">{{ bindings[0] }}</p>
                    </div>
                {% endif %}
            </div>
            {% for i in range(1,bindings|length) %}
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <p class="form-control-plaintext form-email-font-size">{{ bindings[i] }}</p>
                    </div>

                </div>
            {% endfor %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email"></label>
                <div class="col-sm-3">
                    <input type="email" class="form-control" name="email" id="email"  placeholder="Eamil Address">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="password"></label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </div>

        </div>
    </form>

{% endblock %}